<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Check Server State</title>
<link href="/static/css/result_jinja2.css" rel="stylesheet">
</head>

<body>
{{ baseuri }}
<div class="row column header-row fixed-table-header">
  <div class="column large-12 header__actions-bar">
    <p class="inline sensor__title ng-binding">Sensors</p>
    <p class="inline sensor__reading">Low critical</p>
    <p class="inline sensor__reading">Low warning</p>
    <p class="inline sensor__reading sensor__heading-current">Current</p>
    <p class="inline sensor__reading">High warning</p>
    <p class="inline sensor__reading">High critical</p>
  </div>
</div>
<div class="sensor__readings-row ng-scope">
  <p class="inline sensor__title ng-binding">
    <span class="icon icon__normal" aria-label="sensor.status"></span>{{ key }}</p>
    <p class="inline sensor__reading ng-binding">
    <span class="sensor__label">Low critical</span>0<span class="content-label ng-binding">C<!-- ngIf: sensor.unit == 'C' --><span ng-if="sensor.unit == 'C'" class="ng-scope">°</span><!-- end ngIf: sensor.unit == 'C' --></span></p>
      <p class="inline sensor__reading ng-binding"><span class="sensor__label">Low warning</span>5<span class="content-label ng-binding">C<!-- ngIf: sensor.unit == 'C' --><span ng-if="sensor.unit == 'C'" class="ng-scope">°</span><!-- end ngIf: sensor.unit == 'C' --></span></p>
      <p class="inline sensor__reading sensor__current ng-binding sensor__normal" ng-class="{'sensor__critical': sensor.status == 'critical', 'sensor__warn': sensor.status == 'warning', 'sensor__normal': sensor.status == 'normal'}"><span class="sensor__label">Current</span>30.562<span class="content-label ng-binding">C<!-- ngIf: sensor.unit == 'C' --><span ng-if="sensor.unit == 'C'" class="ng-scope">°</span><!-- end ngIf: sensor.unit == 'C' --></span></p>
      <p class="inline sensor__reading ng-binding"><span class="sensor__label">High warning</span>80<span class="content-label ng-binding">C<!-- ngIf: sensor.unit == 'C' --><span ng-if="sensor.unit == 'C'" class="ng-scope">°</span><!-- end ngIf: sensor.unit == 'C' --></span></p>
      <p class="inline sensor__reading ng-binding"><span class="sensor__label">High critical</span>85<span class="content-label ng-binding">C<!-- ngIf: sensor.unit == 'C' --><span ng-if="sensor.unit == 'C'" class="ng-scope">°</span><!-- end ngIf: sensor.unit == 'C' --></span></p>

"":
{
  {% for key, value in sensors.iteritems() %}
     : {{ value.WarningLow }} < {{ value.Value }} < {{ value.WarningHigh }} => Alarm = {{ value.WarningAlarmLow }}
  {% endfor %}
}

</body>

</html>
